@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,600';

html {
	background: #f2f2f2;
	overflow-x: hidden;	
}

body {
	background: transparent;
	padding-top: 70px; 
}

.navbar-default .navbar-brand {
	padding-top: 15px; 
}

.box-about {
	background-image:
	linear-gradient(
		to right, 
		#f38181,
		#f38181 33%,
		#fce38a 33%,
		#fce38a 49%,
		#eaffd0 49%,
		#eaffd0 65%,
		#95e1d3 65%,
		#95e1d3 100%
		);
	width: 100%;
	height: 10px;
}

.about-heading {
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
}

.about-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	padding: 30px;
}

.fa-github {
	padding: 10px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.fa-github:before {
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color;
	transition-property: color;
}

.fa-github:hover:before, .fa-github:focus:before, .fa-github:active:before {
	color: #000;
}

.fa-gitlab {
	padding: 10px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.fa-gitlab:before {
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color;
	transition-property: color;
}

.fa-gitlab:hover:before, .fa-gitlab:focus:before, .fa-gitlab:active:before {
	color: #fc6d26;
}

.fa-twitter2 {
	padding: 10px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.fa-twitter2:before {
	font-family: FontAwesome;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color;
	transition-property: color;
}

.fa-twitter2:hover:before, .fa-twitter2:focus:before, .fa-twitter2:active:before {
	color: #1da1f2;
}

.made {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.navbar-brand {
	font-weight: bold;
	background-color: transparent;
	background-image:
	linear-gradient(
		to right, 
		#f38181,
		#f38181 33%,
		#fce38a 33%,
		#fce38a 49%,
		#eaffd0 49%,
		#eaffd0 65%,
		#95e1d3 65%,
		#95e1d3 100%
		);
}

.tile1:before {
	background: #f38181;
}

.tile2:before {
	background: #fce38a;
}

.tile3:before {
	background: #eaffd0;
}

.tile4:before {
	background: #95e1d3;
}

.navbar {
	border-bottom: 0;
}

.navbar-nav > li > a {
	text-align: center;
	width: 100px;
}

.navbar-nav > li > a.hvr-sweep-to-right.facebook {
	text-align: center;
	width: 49px;
	padding-top: 20px;
}

.facebook:hover {
	color: #fff !important;
}

.facebook:before {
	background: #3b5998;
}

.navbar-nav > li > a.hvr-sweep-to-right.twitter {
	text-align: center;
	width: 49px;
	padding-top: 20px;
}

.twitter:hover {
	color: #fff !important;
}

.twitter:before {
	background: #1da1f2;
}

.navbar-nav > li > a.hvr-sweep-to-right.instagram {
	text-align: center;
	width: 49px;
	padding-top: 20px;
}

.instagram:hover {
	color: #fff !important;
}

.instagram:before {
	background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
}

.tile1:before {
	background: #f38181;
}

.tile2:before {
	background: #fce38a;
}

.tile3:before {
	background: #eaffd0;
}

.tile4:before {
	background: #95e1d3;
}

.box {
	max-width: 350px;
	background: #f5f5f5;
	padding: 15px 15px 50px 15px;
	border-radius: 10px;
	box-shadow: 0px 0px 1px #888;
	float: none;
	margin: 0 auto 25px; auto;
}

.box a {
	text-decoration: none;
}

.hex {
	text-align: center;
	font-size: 1.3em;
	/*font-weight: bold;*/
	text-transform: uppercase;
}

p.code {
	color: #fff;
	background: rgba(0, 0, 0, 0.1);
	width: 100px;
	margin: 0;
}

.color1 > p.code {
	border-top-left-radius: 10px;
}

.upvotes {
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	margin: 10px;
	cursor: default;
}

.date {
	float: right;
	font-size: 1em;
	margin: 15px;
	cursor: default;
}

p.count {
	float: right;
}

.fa-heart:hover {
	cursor: pointer;
	color: #cd0a0a;
}

.fa-heart {
	padding: 5px 5px 0 0;
	color: #777777;
}

.color1, .color2, .color3, .color4 {
	width: 100%;
	height: 75px;
	padding-bottom: 15%;
	cursor: pointer;
}

.color1 {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.color4 {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.create {
	padding: 30px;
	width: 100%;
	max-width: 410px;
}

#done {
	margin: 20px;
}

.show {
	padding: 30px;
	width: 100%;
	max-width: 410px;
}

.jscolor {
	width: 100%;
	border: 0;
	font-size: 1.5em;
	text-align: center;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}

	#center-xs a {
		width: 100%;
		display: inline-block !important;
	}

	.visible-xs {
		display: inline !important;
	}

	.visible-xs a {
		display: inline-block !important;
	}
}